<!-- <main>
    <h1>Shopping Cart</h1>
    <section class="edit">
        <form #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
            <label for="">New Product:</label>
            <input id="product" type="text" ngModel name="newproduct">
            <label for="">Price:</label>
            <input id="price" type="number" ngModel name="newprice">
            <label for="">Quantity:</label>
            <input id="quantity" type="number" ngModel name="newquantity">
            <button>Add Item</button>
        </form>
    </section>
    <section class="cartbox">
        <div class="display" *ngFor="let item of cartItems; index as i">
           <p>Id: {{ item.id }}</p>
            <p>Product: {{ item.product }}</p>
            <p>Price: {{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <button class="material-icons remove-icon" (click)="deleteItem(item.id)">remove</button>

            <form class="update-form" #updateForm="ngForm" (ngSubmit)="updateItem(item)">
                <label for="">Change Quantity:</label>
                <input type="number" ngModel="item.quantity" name="newquantity">
                <button>Save Item</button>
            </form>
        </div>
    </section>
</main> -->