/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
main {
    padding: 10px;
    font-family: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin: 20px 0;
}

input,
button,
.add-form,
.display {
    border: 1px solid black;
}

input,
button {
    font-family: inherit;
    padding: 10px;
    background-color: #eee;
}

input {
    font-size: 15px;
}

button {
    font-size: 15px;
}

.itemForm,
.display {
    padding: 10px;
}

.itemForm {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cartbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    background-color: pink;
    margin: 20px;
    position: relative;
}

.display p {
    margin: 10px 5px;
}

i {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
}

.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-form * {
    margin: 0 5px;
} */