<main>
    <h1>List of Cart Items</h1>
    <section class="edit">
        <form #itemForm="ngForm" (ngSubmit)="addNewItem(itemForm.value.newitem)">
            <label for="">New Item</label>
            <input id="product" type="text" ngModel name="newitem">
            <label for="">Price</label>
            <input id="price" type="text" ngModel name="newprice">
            <label for="">Quantity</label>
            <input id="quantity" type="text" ngModel name="newquantity">
            <button>Add Item</button>
        </form>
    </section>

    <div *ngFor="let item of cartItems">
        <p>Id: {{ item.id }}</p>
        <p>Product: {{ item.products }}</p>
        <p>Price: {{ item.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <button (click)="deleteAnItem(item.id)">X</button>

        <form #updateForm="ngForm" (ngSubmit)="updateAnItem(updateForm.value.updateditemid, item.id)">
            <label for="">Edit An Item</label>
            <input type="text" ngModel name="updateditemid">
            <button>Save Item</button>
        </form>
    </div>
</main>